# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log